@{
    ViewData["Title"] = "Contato";
}
@section Styles {
    <link href="@Url.Content("~/css/contato.css")" rel="stylesheet" type="text/css" />
}
<main class="contato_estrutura">
    <h1>Contato</h1>
        <p>
            Nos envie uma mensagem via <a href="https://wa.me/555190002244">Whatsapp</a> (51) 9000-2244  ou preencha o formulário abaixo que em breve lhe retornaremos:
        </p>
    <form>
        <label for="nome">Nome</label>
        <input type="text" id="contatoNome">

        <label for="telefone">Telefone</label>
        <input type="text" id="contatoTelefone">

        <label for="email">Email</label>
        <input type="email" id="contatoEmail">

        <label for="mensagem">Mensagem</label>
        <textarea type="text" id="contatoMensagem" class="contato_mensagem"></textarea>

        <input type="submit" value="Enviar mensagem" id="enviarContato" class="enviar_mensagem">
    </form>
</main>