@{
    ViewData["Title"] = "Home Page";
}

<div class="conteudo_banner">
    <h1 class="titulo_banner">Gerencie sua empresa de forma <span class="palavra">eficiente!</span></h1>
    <p class="subtitulo_banner">Nosso sistema <b>ERP MATOS</b> é ideal para pequenas e médias empresas que buscam por uma solução acessível e que atenda à necessidades específicas, pois é possível customizar relatórios e determinadas funcionalidades.  </p>
</div>
<div id="divBanner">
</div>
<main class="content">
    <div class="modulos">
          <ul class="solucoes_lista">
            <li class="caixa1">
                <div>
                    <img src="~/img/ic_pnfe.svg" alt="NF-e Nota fiscal eletrônica">
                    <h2>Nota fiscal eletrônica</h2>
                </div>
                <p>Emita de forma simples, operações de circulação de mercadorias. É um processo ágil e prático, pois o ERP conta com uma integração completa de clientes, produtos e pedidos.</p>

                <a asp-controller="Home" asp-action="Solucoes" asp-route-id="2">Saiba mais!</a>
            </li>
            <li class="caixa2">
                <div>
                    <img src="~/img/ic_ppedido.svg" alt="Orçamento e Pedido">
                    <h2>Orçamento e Pedido</h2>
                </div>
                <p>Controle pedidos, ordens de serviço, orçamentos e locações. Integrado com o módulo de NF-e e NFS-e, ele possibilita a geração automática dos documentos fiscais.</p>

                <a asp-controller="Home" asp-action="Solucoes" asp-route-id="5">Saiba mais!</a>
            </li>
            <li class="caixa3">
                <div>
                    <img src="~/img/ic_pestoque.svg" alt="Estoque">
                    <h2>Estoque</h2>
                </div>
                <p>Gerencie produtos, vendas, compras, movimentações, inventários, possibilitando o monitoramento de materiais de maneira simples e segura. </p>

                <a asp-controller="Home" asp-action="Solucoes" asp-route-id="9">SAIBA MAIS!</a>
            </li>
        </ul>
        <button asp-controller="Home" asp-action="Solucoes" asp-route-id="1" class="btn_azul btn-1 hover-filled-slide-left">
            <span> Conheça as nossas soluções! </span>
        </button>
    </div>
    <div class="solicite">
        <img src="~/img/imagem_adquira.png" alt="Adquira o ERP Matos">
        <h1>Adquira já!</h1>
        <p>
            E conte com diversas vantagens, como a redução de custos, eliminação do uso de interfaces manuais, redução da carga de trabalho, pois atividades repetitivas são automatizadas e melhor controle das operações da empresa. Além disso você terá
            um suporte completo com os nossos representantes!
        </p>
        <a asp-controller="Home" asp-action="Contato" class="btn-linha">Solicite um orçamento</a>
    </div>
</main>