@{
    ViewData["Title"] = "Login";
}
<main class="login_estrutura">
    <h1>LOGIN</h1>
    <form>
        <label for="login">Usuário</label>
        <input type="text" id="login">

        <label for="senha">Senha</label>
        <input type="text" id="senha">

        <input type="submit" value="Entrar" class="botao_entrar">
    </form>
</main>