@{
    ViewData["Title"] = "Representantes";
}
@section Styles {
    <link href="@Url.Content("~/css/representantes.css")" rel="stylesheet" type="text/css" />
}
<main class="representantes_estrutura">
    <div class="conteudo_principal_rep">
        <h1 class="titulo_sobre">Representantes</h1>
        <div class="texto_conteudo">
            <p>Nós possuímos parcerias de anos com empresas que conhecem todos os detalhes do sistema ERP Matos. Eles prestam o serviço de demonstração, instalação, configuração, treinamento e suporte. Você pode falar diretamente com eles para saber mais sobre o nosso sistema, mas se ficar com dúvida sobre quem chamar, fale com a gente que te encaminharemos para o mais perto de você.</p>
        </div>
        <ul class="representantes">
            <li>
                <img class="logo_rep" src="~/img/logo_rm.png">
                <p>(51)3566-2115 / (51)98906-4662 (Whatsapp)</p>
                <p>São Leopoldo - RS</p>
                <a href="http://www.rmsolucoessistemas.com.br/">Acessar o site</a>
            </li>
            <li>
                <img class="logo_rep" src="~/img/logo_rj.png">
                <p>(51)3239-0874 / (51)99173-9829 (Whatsapp)</p>
                <p>Novo Hamburgo - RS</p>
                <a href="https://www.rjsistemas.net/">Acessar o site</a>
            </li>
            <li>
                <img class="logo_rep" src="~/img/logo_unimatos.png">
                <p>(51)3587-4330</p>
                <p>Novo Hamburgo - RS</p>
            </li>
        </ul>
    </div>
    <div class="represente">
        <div class="titulo_botao">
            <h1>Seja um representante</h1>
            <a asp-controller="Home" asp-action="Contato">Entre em contato e saiba mais!</a>
        </div>
        <p>A TGS Sistemas busca parcerias para a comercialização, suporte técnico de seus produtos e treinamento da equipe do cliente. Uma das maiores vantagens de se tornar um representante é poder aumentar seu faturamento, dependendo unicamente de seu próprio empenho e dedicação. Muitos representantes começam como autônomos ou com uma equipe reduzida, entretanto, com o tempo, conseguem sua clientela, crescem, acrescentam mais colaboradores à sua equipe e lucram cada vez mais.</p>
    </div>
</main> 