@{
    ViewData["Title"] = "Sobre";
}
@section Styles {
    <link href="@Url.Content("~/css/sobre.css")" rel="stylesheet" type="text/css" />
}
<img class="imagem_pequena" src="~/img/banner_sobre.png">
<main class="sobre_estrutura">
        <img class="imagem_grande" src="~/img/banner_sobre.jpg">
    <h1 class="titulo_sobre">Sobre a TGS</h1>
    <div class="texto_sobre">
        <p>A TGS Sistemas atua na  área de informatização da gestão empresarial. Nossa missão é fornecer aos clientes soluções tecnológicas eficientes, levando sempre em consideração a sua necessidade e peculiaridade, para assim trazer o melhor resultado possível e o aumento da produtividade empresarial. </p>
        <P>Nós estamos em constante busca de conhecimento e aperfeiçoamento, visando ofertar a melhor experiência ao usuário afim de manter relacionamentos de longo prazo com nossos clientes e parceiros. Para isso, contamos com uma equipe de programadores experientes e motivados a desenvolverem as melhores soluções e parceiros especializados que prestam o suporte, auxiliando nas mais diversas questões.</P>
    </div>
    
</main>