@{
    ViewData["Title"] = "Sobre";
}

<main class="solucoes_estrutura">
    <div class="menu_horizontal">
        <h2>🠛 Selecione um dos módulos abaixo para saber mais 🠛</h2>
        <ul>
            <li class="submenu_ativo item_modulo" data-id="1">
                <img src="~/img/ic_erp_escuro2.png" alt="">
                <p>SOBRE O ERP</p>
            </li>
            <li class="item_modulo" data-id="2">
                <img src="~/img/ic_nfep.png" alt="">
                <p>NF-e</p>
            </li>
            <li class="item_modulo" data-id="3">
                <img src="~/img/ic_nfsep.png" alt="">
                <p>NFS-e</p>
            </li>
            <li class="item_modulo" data-id="4">
                <img src="~/img/ic_nfcep.png" alt="">
                <p>NFC-e</p>
            </li>
            <li class="item_modulo" data-id="5">
                <img src="~/img/ic_pedidop.png" alt="">
                <p>Orçamento e Pedido</p>
            </li>
            <li class="item_modulo" data-id="6">
                <img src="~/img/ic_ordemp.png" alt="">
                <p>Ordem de serviço</p>
            </li>
            <li class="item_modulo" data-id="7">
                <img src="~/img/ic_comprap.png" alt="">
                <p>Pedido de compra</p>
            </li>
            <li class="item_modulo" data-id="8">
                <img src="~/img\ic_financeirop.png" alt="">
                <p>Financeiro</p>
            </li>
            <li class="item_modulo" data-id="9">
                <img src="~/img/ic_estoquep.png" alt="">
                <p>Estoque</p>
            </li>
            <li class="item_modulo" data-id="10">
                <img src="~/img/ic_producaop.png" alt="">
                <p>Produção</p>
            </li>
            <li class="item_modulo" data-id="11">
                <img src="~/img/ic_mdfep.png" alt="">
                <p>CT-e / MDF-e</p>
            </li>
            <li class="item_modulo" data-id="12">
                <img src="~/img/ic_mdep.png" alt="">
                <p>MD-e</p>
            </li>
        </ul>
    </div>
    <div class="conteudo_modulo" data-id="1">
        <div class="titulo">
            <img src="~/img/ic_erp_azul.png" alt="">
            <h1>SOBRE O ERP</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>O <b>O ERP Matos - Sistema de Gestão Empresarial</b> é um software de gestão empresarial que integra e organiza os dados e recursos da empresa, tais como a de clientes, vendas, finanças, estoque, produção, e assim por diante. O sistema é segmentado por módulos que são adquiridos e personalizados conforme a necessidade do negócio, propiciando aos gestores o acesso ágil às informações gerenciais e suporte à tomada de decisões em todos os níveis da empresa.</p>
            <p> A interface é simples e padronizada, com permissões de acesso a cada área por grupos/ usuários definidos por senhas. Ele possui cadastro completo de cliente, fornecedor, produto, transportadora, representante, contador, veículo, motorista, centro de custos, técnico, texto auxiliar, formas de pagamento, setor, entre outros.  </p>
            <p>O ERP atende aos segmentos de indústria [embalagens, químicas, agrícolas, brinquedos, esquadrias de metal e madeira, componentes automotivos e caminhões (reboques, cabines, carrocerias)], comércio, lojas de materiais elétricos, tintas, madeireiras, ferragens, restaurantes, lancherias, construção civil, motéis, etc.</p>
            <span class="vantagens">
                <h3>VANTAGENS</h3>
                <p>🠚 Padronização e aceleração de processos;</p>
                <p>🠚 Redução de custos;</p>
                <p>🠚 Eliminação do uso de interfaces manuais;</p>
                <p>🠚 Redução da carga de trabalho, pois atividades repetitivas são automatizadas;</p>
                <p>🠚 Melhor controle das operações da empresa;</p>
                <p>🠚 Melhor controle das operações da empresa;</p>
                <p>🠚 <b>Trabalhamos com representantes que estarão disponíveis para lhe atender e tirar suas dúvidas;</b></p>
            </span>

        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="2">
        <div class="titulo">
            <img src="~/img/ic_nfe_azul.png" alt="">
            <h1>NF-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Emissão e armazenamento do documento digital, com o intuito de documentar, para fins fiscais, operações de circulação de mercadorias. É um processo ágil e prático, pois o ERP conta com uma integração completa de clientes, produtos e pedidos. Sua validade jurídica é garantida pela assinatura digital do remetente (garantia de autoria e de integridade) e pela recepção, pelo Fisco, do documento eletrônico, antes da ocorrência do fato gerador.</p>
            <p>🠚 Importação de um pedido para a nota,  evitando o retrabalho de digitar os dados relacionados;</p>
            <p>🠚 Cancelamento, carta de correção e inutilização da nota no próprio sistema, garantindo segurança para o contribuinte;</p>
            <p>🠚 Integração com o financeiro: geração de duplicatas a receber e boletos com envio automatizado por email, controle de caixa empresarial com separação por centros de custo e fluxos distintos;</p>
            <p>🠚 Envio automatizado da DANFE/XML para o cliente, envio rápido e prático de todas as notas transmitidas no mês para o contador;</p>
            <p>🠚 Diversos relatórios de faturamento: relatório de notas, de comissão, de produtos vendidos, faturamento por representante, entradas e saídas;</p>
            <p>🠚 Emissão de diversas operações da nota fiscal, tais como: notas de entrada, saída, devolução, complementar, ajuste, remessa, importação, entre outros tipos.</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="3">
        <div class="titulo">
            <img src="~/img/ic_nfse_azul.png" alt="">
            <h1>NFS-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Emissão e armazenamento do documento digital de operações de serviços. O ERP Matos faz uma ponte com o ambiente da prefeitura, tornando o processo ágil e prático. Os benefícios são a padronização das obrigações tributárias, redução de custos de impressão e de erros da escrituração.</p>
            <p>🠚  Importação de um pedido para a nota de serviço, evitando o retrabalho de digitar os dados relacionados;</p>
            <p>🠚 Integração com o financeiro: geração de duplicatas a receber e boletos com envio automatizado por email, controle de caixa empresarial com separação por centros de custo e fluxos distintos;</p>
            <p>🠚 Cidades homologadas: São Leopoldo, Novo Hamburgo, Porto Alegre, Estância Velha, Sapucaia do Sul, Esteio, Nova Santa Rita e São Paulo. Também é possível a integração de novos municípios conforme necessidade do cliente.</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="4">
        <div class="titulo">
            <img src="~/img/ic_nfce_azul.png" alt="">
            <h1>NFC-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>A Nota Fiscal de Consumidor Eletrônica foi criada com o objetivo de substituir os cupons fiscais emitidos pelo ECF. A substituição traz muito mais praticidade e agilidade para os lojistas, além de diminuir seus gastos, pois a NFC-e é emitida automaticamente logo após o consumidor efetuar a compra.</p>
            <p>Ao optar por substituir os cupons fiscais pela NFC-e, o lojista não precisará mais de equipamentos e impressoras fiscais, além de cortar custos com lacrações, registros e homologações. Caso seja necessário fazer a impressão, a mesma poderá ser feita em uma impressora comum.</p>
            <p>🠚 O Sistema possui diversos filtros e relatórios por período, comissão variada, vendas por cliente, operação fiscal, grupo de produtos, produtos mais vendidos, etc. (Todos os relatórios podem ser exportados para excel, word e PDF.)</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="5">
        <div class="titulo">
            <img src="~/img/ic_pedido_azul.png" alt="">
            <h1>Orçamento e pedido</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Gestão de pedidos, ordens de serviço, orçamentos e locações. Ele é integrado com o módulo de NF-e e NFS-e e possibilita a geração automática dos documentos fiscais após a aprovação do pedido, além de gerar as duplicatas relacionadas para o financeiro.</p>
            <p>🠚 Cancelamento, carta de correção e inutilização da nota no próprio sistema;</p>
            <p>🠚 Geração de recibo de consignação e carnês;</p>
            <p>🠚 Contrato de locação, de venda e de consignação;</p>
            <p>🠚 Fidelização de clientes: criação de promoções e bonificações, por exemplo: se o cliente efetuar uma compra de R$100,00 ele terá direito a um brinde, e quando esse limite for atingido o sistema avisará ao vendedor e o sistema automaticamente adiciona o brinde na listagem do pedido;</p>
            <p>🠚 Envio e acompanhamento das propostas por e-mail;</p>
            <p>🠚 Relatórios: Pedidos por cliente, por representante com comissão, vendas por representante, por tipo de pagamento, de produção. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="6">
        <div class="titulo">
            <img src="~/img/ic_ordemp_azul.png" alt="">
            <h1>Ordem de serviço</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Destinado à empresas de assistência serviços em geral, como oficinas mecânicas e empresas de construção, que precisem abrir uma ordem de serviço para um cliente e controlar consumo de produtos, mão de obra e custos diversos, além de ser integrado com o pedido, a NF-e, a NFS-e e o NFC-e.</p>
            <p>🠚 Possui relatórios dos orçamentos ou O.S. em aberto, serviços executados por técnicos, clientes, atendentes, etc. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="7">
        <div class="titulo">
            <img src="~/img/ic_compra_azul.png" alt="">
            <h1>Ordem de compra</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Documento comercial emitido por um comprador para o fornecedor, a fim de indicar e controlar o acordo para o processo de compra de produtos ou serviços. Ele representa todas as condições em que foi feita a negociação, como por exemplo: produtos, quantidade, prazos, preços, data de entrega e outros. Muitos fornecedores exigem esse tipo de documento a fim de garantir a segurança da compra. É interligado com o estoque, reduzindo as ocorrências de falta de insumos, sendo possível realizar entradas de mercadoria em uma única tela.</p>
            <p>🠚 Relatórios do que foi entregue, pendências, controle de pedidos de compra não atendidos, pedidos por fornecedor/produto. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
            <p>🠚 Importação de NF-e de entrada com vínculo ou sem vínculo com ordem de compra, cálculo de custo do produto, vínculo dos produtos ao código do fornecedor;</p>
            <p>🠚 Integração com o financeiro: geração de duplicatas a pagar;</p>
            <p>🠚 Envio por e-mail, possibilidade de recebimento pelo XML da nota de entrada do fornecedor ou buscando as notas recebidas no sefaz;</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="8">
        <div class="titulo">
            <img src="~/img/ic_financeiro_azul.png" alt="">
            <h1>Financeiro</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Permite completa visibilidade das suas contas a pagar, a receber e do fluxo de caixa. Tudo em tempo real e com relatórios, possibilitando decisões mais rápidas e mais inteligentes, gerando uma visão gerencial a partir do registro de agendamento de obrigações futuras como previsões de valores de entrada e saída para sua empresa. </p>
            <p>🠚 Geração de Boleto para cobrança registrada e carnês;</p>
            <p>🠚 Baixa automática com os Retornos de Boletos, Pagamentos e Cobrança via troca de arquivos CNAB;</p>
            <p>🠚 Controle de contas bancárias, fluxo de caixa;</p>
            <p>🠚 Emissão de recibos e notas promissórias;</p>
            <p>🠚 Permite lançamento de Nota Fiscal de mercadoria com atualização automática do Estoque e Contas a Pagar, Impressão de recibos para pagamento personalizado com logo da empresa;</p>
            <p>🠚 Relatórios a pagar/ receber: abertas e recebidas (por data de vencimento, por cliente), resumo anual de pagamentos, lançamentos de caixa por fluxo, entre outros. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="9">
        <div class="titulo">
            <img src="~/img/ic_estoque_azul.png" alt="">
            <h1>Estoque</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Controle de estoque completo para sua empresa. Você pode gerenciar produtos, vendas, compras, movimentações, inventários, possibilitando o monitoramento de produtos de maneira simples e segura. Esse controle pode ser feito através da importação das compras via XML da NF-e do fornecedor, o ajuste do estoque tanto de entrada como de saída fica gravado toda movimentação, o próprio sistema faz busca do XML emitido contra o CNPJ da empresa pode dar ciência da compra. O sistema de controle de estoque trabalha de maneira totalmente integrada com as áreas de vendas, financeiro e fiscal.</p>
            <p>🠚 Geração de ordens de compra e notas de entrada;</p>
            <p>🠚 Aviso de quando chega no estoque mínimo estipulado;</p>
            <p>🠚 SPED Fiscal: Bloco K e H;</p>
            <p>🠚 Reajuste automático e/ou manual de preços por grupo ou individual de produto;</p>
            <p>🠚 Relatórios: Movimento por motivo, por produto e por fornecedor. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="10">
        <div class="titulo">
            <img src="~/img/ic_producao_azul.png" alt="">
            <h1>Produção</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Registro e controle das ordens de produção efetuadas pela empresa. O módulo conta com gerenciamento e versionamento das fórmulas(receitas) de produto acabado, além disso ele é interligado ao módulo de pedido e ao módulo de estoque do sistema, fazendo os consumos e acréscimos de produto conforme as produções vão sendo efetuadas.</p>
            <p>🠚 Importação de pedidos para a ordem de produção baseado nos itens do pedido, verifica a necessidade de produção do produto acabado ou se existe algum lote disponível para a utilização.</p>
            <p>🠚 É possível fazer a baixa total ou parcial de uma ordem de produção, e quando finalizado, o sistema baixa automaticamente a matéria prima e alimenta automaticamente o estoque com o produto acabado;</p>
            <p>🠚 Relatórios: produções efetuadas, podendo ser customizado conforme a necessidade do cliente. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="11">
        <div class="titulo">
            <img src="~/img/ic_mdfe_azul.png" alt="">
            <h1>CT-e / MDF-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>O manifesto de carga eletrônico tem como objetivo viabilizar a fiscalização, pois nele há um resumo da operação de transporte, informando os documentos vinculados, o local de origem, destino, dados do veículo e do motorista. No manifesto de transporte não há incidência de impostos, pois estas informações já devem estar presentes no documento vinculado ao MDF-e, que é o CT-e (Conhecimento de Transporte Eletrônico) ou a NF-e (Nota Fiscal Eletrônica).</p>
            <p>🠚 CT-e:Voltado para transportadoras, permite que seja emitido um documento digital e armazenado eletronicamente, com a finalidade de documentar prestações de serviços de transportes. Transportadoras em qualquer tipo modal: aéreo, rodoviário, aquaviário, ferroviário e dutoviário.</p>
            <p>🠚  MDF-e:Permite que seja emitido um documento digital e armazenado eletronicamente, com a finalidade de documentar prestações de serviços de transportes, sejam elas feitas por transportadoras com o vínculo de CT-e para transporte de carga para terceiros, ou para empresas que transportam mercadorias próprias, vinculando assim a NF-e.</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="12">
        <div class="titulo">
            <img src="~/img/ic_mde_azul.png" alt="">
            <h1>MD-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>A manifestação do destinatário (MD-e) é uma funcionalidade onde o usuário informa a secretaria da fazenda sobre a sua participação comercial referente a uma nota fiscal emitida contra o seu CNPJ. Ela é composta por 4 eventos, ciência da emissão, confirmação da operação, desconhecimento da operação e operação não realizada.</p>
            <p>Com base nisso, o módulo de MD-e possibilita a verificação de todas as notas emitidas no seu CNPJ e a manifestação das mesmas para fins fiscais.Além disso, permite a importação automática de notas de entrada, alimentando assim o módulo financeiro com a criação de contas a pagar e o módulo de estoque, adicionando saldo ao estoque empresarial dos produtos adquiridos.</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
</main>
<input type="hidden" value="@ViewBag.id" id="hiddenSolucao" />