@{
    ViewData["Title"] = "Sobre";
}
@section Styles {
    <link href="@Url.Content("~/css/solucoes.css")" rel="stylesheet" type="text/css" />
}
<main class="solucoes_estrutura">
    <div class="menu_horizontal">
        <h2> MÓDULOS DO ERP MATOS</h2>
        <hr>
        <ul class="botoes_menu">
            <li class="submenu_ativo item_modulo" data-id="1">
                    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <path class="icone_colorido" d="M12.67 8A6.67 6.67 0 0 0 6 14.67v70.66A6.67 6.67 0 0 0 12.67 92h70.66A6.67 6.67 0 0 0 90 85.33V8ZM27 14h57v10H27Zm-11.27 0H21v10h-9v-6.27A3.73 3.73 0 0 1 15.73 14Zm64.4 72H16.79a4.34 4.34 0 0 1-4.33-4.29L12 30h72l.46 51.63A4.33 4.33 0 0 1 80.13 86Z"/>
                    </svg>
                <p>O ERP</p>
            </li>
            <li class="item_modulo" data-id="2">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <path class="cls-1" d="M53.7 39.19a6.48 6.48 0 0 1-2.4-.43 5.48 5.48 0 0 1-1.92-1.22 5.69 5.69 0 0 1-1.26-1.89 6.25 6.25 0 0 1-.45-2.42 6.46 6.46 0 0 1 .42-2.33 5.88 5.88 0 0 1 1.17-1.9 5.47 5.47 0 0 1 1.8-1.3 5.64 5.64 0 0 1 2.31-.47 5.55 5.55 0 0 1 2.5.52 5.1 5.1 0 0 1 1.76 1.38 5.89 5.89 0 0 1 1 2 8.34 8.34 0 0 1 .37 2.31v.87h-8A2.76 2.76 0 0 0 52 36a2.93 2.93 0 0 0 1.84.57 3.73 3.73 0 0 0 1.46-.28 5.05 5.05 0 0 0 1.34-.91L58.41 37a5.75 5.75 0 0 1-2 1.58 6.13 6.13 0 0 1-2.71.61Zm2.11-6.93a3.2 3.2 0 0 0-.81-1.78 2.16 2.16 0 0 0-1.66-.67 2.18 2.18 0 0 0-1.66.66 3.32 3.32 0 0 0-.83 1.79ZM11.4 10.59h3.27l7.58 10v-10h3.5v16.16h-3l-7.84-10.27v10.27H11.4ZM29.63 10.59h12.31v3.21h-8.75v3.49h7.71v3.21h-7.71v6.25h-3.56Z" />
                        <path class="cls-1" d="M36.12 70.13a7.7 7.7 0 0 1-4.51-1.31c-7-4.9-3.4-21.78 8.22-38.41C51.46 13.76 66.07 4.57 73.08 9.47s3.4 21.77-8.23 38.41C55.34 61.5 43.83 70.13 36.12 70.13Zm6.46-37.81c-11.09 15.87-13.67 30.53-9 33.76S51 61.84 62.11 46s13.67-30.53 9-33.76-17.5 4.24-28.58 20.11Z" />
                        <path class="cls-1" d="M42.33 73.24a7.7 7.7 0 0 1-4.51-1.31c-6-4.17-4.47-16.71 3.69-31.22l2.92 1.64c-6.94 12.32-9 23.86-4.69 26.83 4.62 3.23 17.49-4.24 28.58-20.11S82 18.54 77.37 15.32c-3.31-2.32-10.6.86-18.13 7.9L57 20.78c9.11-8.54 17.46-11.6 22.33-8.21 7 4.9 3.4 21.78-8.23 38.42C61.55 64.61 50 73.24 42.33 73.24Z" />
                        <path class="cls-1" d="M54.24 92a2.88 2.88 0 0 1-1.73-.58l-6.76-5a3 3 0 0 1-.49-.46 2.89 2.89 0 0 1 .29-4.07l5.23-4.78-1.67-2.4 4.52-2.58 1.63 2.14a4.71 4.71 0 0 1-.51 6.35l-3.52 3.22 2.65 2 5.52-6.41-.1-3.08A4.68 4.68 0 0 1 60.53 73l3-3.28a4.75 4.75 0 0 1 1.62-1.15l6.66-2.85 4.3-1.49 5-17.83a4.92 4.92 0 0 1 1-1.8l7.56-8.73-.49-3.17a4.74 4.74 0 0 1-2.77-1l-2.1-1.81 1.29-5.46L87.72 26c.69.52 1.54 1.13 2 1.41h1.54a2.91 2.91 0 0 1 2.85 2.46l1 6.26a2.86 2.86 0 0 1-.72 2.37L86.16 48l-5.29 18.9a2.9 2.9 0 0 1-1.85 2l-5.7 2-5.95 2.56-2.75 3 .11 3.77a2.81 2.81 0 0 1-.7 2L56.44 91a2.91 2.91 0 0 1-2.2 1Zm10.21-15.46Zm.16-.44Zm2.64-2.7Zm.21-.15ZM27.78 48.06l-2-3.09c-.28-.43-.45-.71-.57-.9l-8.12 2.4a3 3 0 0 1-.87.12 2.89 2.89 0 0 1-2.72-2l-.16.07a2.89 2.89 0 0 1-3.46-.75l-4.4-5.18A2.89 2.89 0 0 1 6 34.69l4.31-3.6 7.28.07-6.48 6.05 1.68 2a4.7 4.7 0 0 1 4.87 1.6l6.55-1.94a3.37 3.37 0 0 1 .48-.12c3.26-.63 4.5 1.24 5 2.92l.15.52Z" />
                    </svg>
                    <p>NF-e</p>
            </li>
            <li class="item_modulo" data-id="3">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <defs />
                        <path class="cls-1" d="M24.26 27.94S50 2.64 72.77 12.44c0 0 18.53 5.67 14.76 31 3.2 0 4.54 1.41 4.54 1.41s5.87-24.1-12.69-33.53C65.57 4.31 45.39 6.81 24.26 27.94ZM73 55v-2h4v2ZM6.75 37.6h5l11.6 15.25V37.6h5.37v24.76h-4.61l-12-15.74v15.74H6.75ZM31.36 37.6h18.85v4.92h-13.4v5.34h11.81v4.91H36.81v9.59h-5.45Z" />
                        <path class="cls-1" d="M60.57 62.71a16.38 16.38 0 0 1-5.55-1 14.53 14.53 0 0 1-5-3l3.22-3.85a16 16 0 0 0 3.48 2.19 9.34 9.34 0 0 0 3.91.81 4.67 4.67 0 0 0 2.63-.62 1.93 1.93 0 0 0 .94-1.71v-.03a2.13 2.13 0 0 0-.19-.94 2 2 0 0 0-.75-.76 8.16 8.16 0 0 0-1.52-.71c-.65-.23-1.5-.48-2.54-.74a30.77 30.77 0 0 1-3.4-1 9.47 9.47 0 0 1-2.59-1.39 5.74 5.74 0 0 1-1.65-2.07 7.2 7.2 0 0 1-.56-3.11v-.07a7.07 7.07 0 0 1 .64-3.06 6.92 6.92 0 0 1 1.77-2.35 7.88 7.88 0 0 1 2.73-1.52 11 11 0 0 1 3.49-.53 14.87 14.87 0 0 1 5 .81 14.29 14.29 0 0 1 4.19 2.34L66 44.5a17.93 17.93 0 0 0-3.25-1.79 8.5 8.5 0 0 0-3.19-.65 3.84 3.84 0 0 0-2.38.62 1.85 1.85 0 0 0-.8 1.54v.07a2.25 2.25 0 0 0 .23 1 2.07 2.07 0 0 0 .83.8 8.46 8.46 0 0 0 1.65.67c.7.21 1.58.46 2.64.74a26 26 0 0 1 3.36 1.11 9.6 9.6 0 0 1 2.48 1.49 5.74 5.74 0 0 1 1.52 2 6.8 6.8 0 0 1 .52 2.8v.1a7.77 7.77 0 0 1-.61 3.31 6.79 6.79 0 0 1-1.86 2.4 8.4 8.4 0 0 1-2.85 1.49 12.49 12.49 0 0 1-3.72.51ZM86.93 61.36a7.91 7.91 0 0 1-2.87-.52 6.65 6.65 0 0 1-2.29-1.46 6.93 6.93 0 0 1-1.5-2.25 7.49 7.49 0 0 1-.54-2.9 7.61 7.61 0 0 1 .5-2.78 7.13 7.13 0 0 1 1.4-2.29 6.66 6.66 0 0 1 2.15-1.54 6.55 6.55 0 0 1 2.76-.62 6.72 6.72 0 0 1 3 .61 6.15 6.15 0 0 1 2.1 1.66 7 7 0 0 1 1.24 2.39 10.11 10.11 0 0 1 .39 2.82v1.03h-9.66a3.33 3.33 0 0 0 1.17 2 3.52 3.52 0 0 0 2.2.68 4.27 4.27 0 0 0 1.75-.34 5.9 5.9 0 0 0 1.59-1.08l2.24 2a6.8 6.8 0 0 1-2.37 1.89 7.22 7.22 0 0 1-3.26.7Zm2.52-8.29a3.8 3.8 0 0 0-.93-2.07 2.57 2.57 0 0 0-2-.81 2.62 2.62 0 0 0-2 .8 3.92 3.92 0 0 0-1 2.13ZM80.39 61.71a5.91 5.91 0 0 0 3.7 1.85c-.28.45 0 0-.54.79C80.48 68.77 68.63 83.91 54 89.53c-14 5.4-30.75 2.06-37.2-11.54 3.49 3.93 17.9 18.59 42.5 4C68 76.8 75.09 68.18 79.38 63c.12-.12.9-1.15 1.01-1.29Z" />
                    </svg>
                <p>NFS-e</p>
            </li>
            <li class="item_modulo" data-id="4">
                    <svg class="icones_pmenu" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <defs />
                        <path class="cls-1" d="M95.31 29.58H4.69L15.38 9.82a3.82 3.82 0 0 1 3.36-2h64.8Zm-80.76-6h71l-5.31-10.14h-58.1a3.8 3.8 0 0 0-3.38 2.05ZM18.08 50.12h-3.49a9.94 9.94 0 0 1-9.9-9.73V29.6h6.43v10.71a3.49 3.49 0 0 0 3.47 3.38h3.49a3.35 3.35 0 0 0 3.36-3.35V29.6h6.43v10.74a9.8 9.8 0 0 1-9.79 9.78Z" />
                        <path class="cls-1" d="M86 92H13.4a3.82 3.82 0 0 1-3.81-3.81V47.2h5.54v35.24a3.8 3.8 0 0 0 3.81 3.81h61.61a3.81 3.81 0 0 0 3.81-3.81V45h5.47v43.15A3.82 3.82 0 0 1 86 92Z" />
                        <path class="cls-1" d="M42.36 91.02h-5.58v-31.7h26.14v31.34h-5.31v-25.7H42.36v26.06zM35 50.12h-3.47a10 10 0 0 1-9.91-9.73V29.6h6.43v10.71a3.49 3.49 0 0 0 3.48 3.38H35a3.36 3.36 0 0 0 3.37-3.35V29.6h6.43v10.74a9.81 9.81 0 0 1-9.8 9.78Z" />
                        <path class="cls-1" d="M52.13 50.1h-3.49a9.94 9.94 0 0 1-9.9-9.73V29.58h6.43v10.71a3.49 3.49 0 0 0 3.47 3.38h3.49a3.36 3.36 0 0 0 3.36-3.35V29.58h6.43v10.74a9.8 9.8 0 0 1-9.79 9.78Z" />
                        <path class="cls-1" d="M69.06 50.1h-3.49a9.94 9.94 0 0 1-9.9-9.73V29.58h6.43v10.71a3.49 3.49 0 0 0 3.47 3.38h3.49a3.35 3.35 0 0 0 3.36-3.35V29.58h6.43v10.74a9.8 9.8 0 0 1-9.79 9.78Z" />
                        <path class="cls-1" d="M85.51 50.1H82a9.94 9.94 0 0 1-9.9-9.73V29.58h6.43v10.71A3.47 3.47 0 0 0 82 43.67h3.48a3.36 3.36 0 0 0 3.37-3.35V29.58h6.43v10.74a9.81 9.81 0 0 1-9.77 9.78Z" />
                        <circle class="cls-1" cx="55.13" cy="74.51" r="1.45" />
                    </svg>
                <p>NFC-e</p>
            </li>
            <li class="item_modulo" data-id="5">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <defs />
                        <path class="cls-1" d="M69 71.39v12.1A2.51 2.51 0 0 1 66.49 86h-44A2.51 2.51 0 0 1 20 83.49V20a3.77 3.77 0 0 1 3.79-3.77l10.21.1V18h20v-1.67l15-.08v38.49l6-3V11H54V8H34v3H18.33a3.76 3.76 0 0 0-3.77 3.76l-.06 74.73A2.52 2.52 0 0 0 17 92h55.49A2.51 2.51 0 0 0 75 89.49V67l-6 3.7Zm-19-59a1.12 1.12 0 1 1-1.11 1.11A1.12 1.12 0 0 1 50 12.38Zm-12 0a1.12 1.12 0 1 1-1.12 1.11A1.12 1.12 0 0 1 38 12.38Z" />
                        <path class="cls-1" d="M29.99 26.92H59v2.07H29.99zM29.99 31.8h24.87v2.07H29.99z" />
                        <path class="cls-2" d="M38 82.5c.1-.22.16-.38.24-.54.7-1.34 1.38-2.69 2.1-4a1.72 1.72 0 0 1 .6-.68l37.73-23.85.4-.23c1 1.57 2 3.13 3 4.74l-.47.32Q62.87 70.1 44.11 81.92a2.64 2.64 0 0 1-1.17.37c-1.44.1-2.88.15-4.32.21-.17.01-.35 0-.62 0ZM59 41v2H30v-2ZM59 37v2H30v-2ZM30 47v-2h19v2ZM30 70v-2h13v2ZM59 54v2H30v-2ZM59 50v2H30v-2ZM59 58v2H30v-2ZM30 66v-2h19v2ZM85 56.15l-2.06 1.3c-1-1.59-2-3.15-3-4.77l2.06-1.3c1 1.62 2 3.13 3 4.77Z" />
                    </svg>
                    <p>Orçamento e Pedido</p>

            </li>
            <li class="item_modulo" data-id="6">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <defs />
                        <path class="cls-1" d="M71.49 86h-44A2.51 2.51 0 0 1 25 83.49V20.6a4.31 4.31 0 0 1 4.35-4.32H39V18h20v-1.67l15-.08v67.24A2.51 2.51 0 0 1 71.49 86ZM80 52V11H59V8H39v3H24.13a4.33 4.33 0 0 0-4.32 4.32l-.06 74.17A2.52 2.52 0 0 0 22.26 92h55.23A2.51 2.51 0 0 0 80 89.49V52ZM55.23 12.38a1.12 1.12 0 1 1-1.12 1.11 1.12 1.12 0 0 1 1.12-1.11Zm-12 0a1.12 1.12 0 1 1-1.12 1.11 1.12 1.12 0 0 1 1.11-1.11Z" />
                        <path class="cls-1" d="M46.99 35.67h19.59v1.87H46.99zM34.78 41l-4.47-4.47 1.88-1.88 2.59 2.59 6.26-6.26 1.88 1.88L34.78 41zM46.99 50.16h19.59v1.87H46.99zM34.78 55.64l-4.47-4.47 1.88-1.88 2.59 2.59 6.26-6.27 1.88 1.88-8.14 8.15zM46.99 65.55h19.59v1.87H46.99zM34.78 70.88l-4.47-4.47 1.88-1.88 2.59 2.59 6.26-6.26 1.88 1.88-8.14 8.14z" />
                    </svg>

                <p>Ordem de serviço</p>
            </li>
            <li class="item_modulo" data-id="7">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <defs />
                        <path class="cls-1" d="M65 8.42H23.59a4.68 4.68 0 0 0-4.68 4.68v76.5a2.51 2.51 0 0 0 2.51 2.51h57.2a2.51 2.51 0 0 0 2.51-2.51V22.77ZM75.44 24.2v59.71a2.52 2.52 0 0 1-2.51 2.51H27.07a2.52 2.52 0 0 1-2.51-2.51V18.8a4.68 4.68 0 0 1 4.68-4.68h29.14v15.75l17.06.13v-5.8h-11.6V14.12" />
                        <path class="cls-1" d="M37.19 49.72h4.67l-.79-4.94h-4.85Zm-1.41-7.15h31.47a1.1 1.1 0 0 1 1.06 1.5l-4.67 14.29a1.26 1.26 0 0 1-1.15.79L39 59.06l.53 2.56h22.96a1.15 1.15 0 1 1 0 2.29H38.68a1.22 1.22 0 0 1-1.14-.91L33 40h-3.84A1.09 1.09 0 0 1 28 39a1.17 1.17 0 0 1 1.14-1.15h4.76a1.13 1.13 0 0 1 1.06 1Zm2.82 14.29h4.49L42.3 52h-4.67Zm4.67-12.08.88 4.94h5.38v-4.94Zm8.46 0v4.94H57l.89-4.94Zm8.47 0-.88 4.94h4.76l1.67-4.94ZM63.37 52h-4.49L58 56.86h3.7Zm-7.67 4.86.88-4.86h-4.85v4.85Zm-6.26 0V52H44.5l.89 4.85ZM42.12 65.59a2.51 2.51 0 0 1 0 5 2.51 2.51 0 0 1 0-5ZM58.26 65.59a2.51 2.51 0 0 1 0 5 2.51 2.51 0 0 1 0-5Z" />
                    </svg>

                <p>Ordem de compra</p>
            </li>
            <li class="item_modulo" data-id="8">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <defs />
                        <path class="cls-1" d="M8.69 87.13 0 45.61 3 45l78.13-16.48 8.72 41.57ZM6.1 49.59 12.69 81l71-14.92-6.56-31.39Z" />
                        <path class="cls-2" d="M13.62 69c.58 2.75 1.15 5.47 1.72 8.2l14.08-2.95c-.16-.78-.32-1.54-.49-2.34l-11.75 2.5-1.23-5.86Z" />
                        <path class="cls-1" d="m15 77.75-.09-.42c-.58-2.73-1.14-5.45-1.72-8.2l-.09-.43 3.18-.7 1.23 5.86 11.75-2.46.68 3.18Zm-.88-8.38c.52 2.47 1 4.91 1.55 7.36L28.91 74l-.31-1.49-11.76 2.41-1.23-5.86Z" />
                        <path class="cls-2" d="M77.2 61.83 65.47 64.3c.17.79.33 1.55.49 2.32L80 63.68q-.87-4.12-1.72-8.2L76 56c.39 1.92.79 3.84 1.2 5.83Z" />
                        <path class="cls-1" d="m65.62 67.14-.08-.43c-.16-.77-.32-1.53-.49-2.32L65 64l11.69-2.5-1.23-5.87 3.17-.63 1.9 9Zm.38-2.51c.11.5.21 1 .31 1.48l13.22-2.77L78 56l-1.48.31 1.22 5.87Z" />
                        <path class="cls-2" d="M13.91 59.7c-.42-2-.82-3.9-1.24-5.87l11.72-2.46c-.17-.79-.33-1.55-.49-2.32L9.83 52c.58 2.74 1.15 5.46 1.72 8.2Z" />
                        <path class="cls-1" d="m11.22 60.71-1.9-9 14.91-3.13.67 3.17-11.72 2.42.32 1.52c.28 1.3.55 2.61.83 3.92l.09.43Zm-.88-8.38 1.55 7.36 1.51-.32c-.25-1.17-.5-2.34-.74-3.51l-.5-2.36L23.88 51l-.31-1.48Z" />
                        <path class="cls-2" d="m61.14 43.71 11.75-2.47c.42 2 .83 3.92 1.23 5.85l2.32-.49c-.57-2.73-1.14-5.45-1.72-8.18l-14.07 2.95c.16.78.35 1.53.49 2.34Z" />
                        <path class="cls-1" d="m73.79 47.6-1.23-5.85-11.75 2.47-.67-3.22 14.92-3.13.09.42c.57 2.73 1.14 5.45 1.72 8.19l.09.42Zm-.56-6.87 1.23 5.85 1.47-.31c-.51-2.45-1-4.89-1.54-7.34l-13.23 2.78.31 1.49Z" />
                        <path class="cls-2" d="m97 50.81-2.6.55c-2.27-10.79-4.52-21.51-6.78-32.28L19.32 33.4c-.18-.88-.36-1.71-.54-2.6l70.86-14.87Q93.3 33.38 97 50.81Z" />
                        <path class="cls-2" d="M13.12 40.1c-.18-.89-.36-1.71-.54-2.57l73-15.33Q89.34 40.11 93.1 58l-2.56.54-7-33.22Z" />
                        <path class="cls-1" d="m43.18 60.24 3.52 4.56-2.7.69-3-4.21-1.9.49 1.18 4.66-2.46.63-3.12-12.2 4.49-1.15a9.82 9.82 0 0 1 1.61-.26 3.74 3.74 0 0 1 1.54.17 3.1 3.1 0 0 1 1.28.84 4 4 0 0 1 .86 1.75 3.65 3.65 0 0 1-1.3 4.03Zm-3.12-1q.48-.12.93-.27a2.61 2.61 0 0 0 .76-.41 1.3 1.3 0 0 0 .44-.68 2 2 0 0 0 0-1 1.93 1.93 0 0 0-.38-.8 1.32 1.32 0 0 0-.59-.37 2.2 2.2 0 0 0-.78 0 7.67 7.67 0 0 0-.95.17l-1.76.45.86 3.38ZM52.86 64.14a.33.33 0 0 1-.07.33 1 1 0 0 1-.29.21 2.12 2.12 0 0 1-.45.17 1.34 1.34 0 0 1-.51.07.82.82 0 0 1-.38-.06.39.39 0 0 1-.23-.27l-.18-.74a6 6 0 0 1-1.69-.16 5.08 5.08 0 0 1-1.7-.76l-.07-.07a.41.41 0 0 1 0-.28 2.85 2.85 0 0 1 .16-.6 2 2 0 0 1 .44-.71.37.37 0 0 1 .31-.12h.14a4.24 4.24 0 0 0 .88.36 5.33 5.33 0 0 0 1 .17l-.77-3.07a11.12 11.12 0 0 1-1.16-.06 3.19 3.19 0 0 1-1.08-.29 2.55 2.55 0 0 1-.88-.66 2.85 2.85 0 0 1-.58-1.21 3.54 3.54 0 0 1-.11-1.34A2.83 2.83 0 0 1 46 54a3.1 3.1 0 0 1 .78-.84 5.24 5.24 0 0 1 1.09-.62l-.21-.84a.33.33 0 0 1 .07-.33 1.16 1.16 0 0 1 .31-.22 2.2 2.2 0 0 1 .48-.18 2.16 2.16 0 0 1 .47-.06 1 1 0 0 1 .36 0 .3.3 0 0 1 .22.24l.23.9a4.84 4.84 0 0 1 2.78.91.43.43 0 0 1 .13.14.49.49 0 0 1 .06.17.84.84 0 0 1 0 .18 1.72 1.72 0 0 1 0 .35 3 3 0 0 1-.14.39 2 2 0 0 1-.18.33.81.81 0 0 1-.19.21.55.55 0 0 1-.15.08h-.15a.32.32 0 0 1-.17-.06 3.93 3.93 0 0 0-.68-.32 7.23 7.23 0 0 0-.73-.22l.58 2.3a7.93 7.93 0 0 1 1.18.15 4 4 0 0 1 1.12.43 3.57 3.57 0 0 1 .91.79 3.19 3.19 0 0 1 .58 1.23 3.49 3.49 0 0 1-.18 2.58 3.55 3.55 0 0 1-1.88 1.6Zm-5.19-8.34a.82.82 0 0 0 .47.59 1 1 0 0 0 .73.1l-.47-1.87a1.15 1.15 0 0 0-.62.42.92.92 0 0 0-.11.76Zm5.14 4a1.32 1.32 0 0 0-1.31-1l.64 2.51a1.39 1.39 0 0 0 .64-.54 1.33 1.33 0 0 0 .03-.97Z" />
                        <path class="cls-1" d="M45.4 77.75a17.06 17.06 0 0 1-11.17-4.27 20.77 20.77 0 0 1-3.46-27.12 16.72 16.72 0 0 1 25.08-3.2 20.3 20.3 0 0 1 6.81 12.91C64 66.71 57.22 76.38 47.5 77.61a16.46 16.46 0 0 1-2.1.14Zm-.74-34.54a11.48 11.48 0 0 0-1.54.1 12.65 12.65 0 0 0-8.81 5.51A16.48 16.48 0 0 0 37 70.21a12.65 12.65 0 0 0 10 3.12c7.36-.93 12.49-8.43 11.43-16.71A16 16 0 0 0 53 46.43a12.87 12.87 0 0 0-8.34-3.22Z" />
                    </svg>

                <p>Financeiro</p>
            </li>
            <li class="item_modulo" data-id="9">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <defs />
                        <path class="cls-1" d="M31.29 71.79h7.67v8.76h-7.67zM18.14 82.75h20.82v2.19H18.14zM39 64.12H9.68c-1.1 0-1.4-.26-1.4-1.36V25.69c0-1.09.3-1 1.4-1H39V19.2H5.74c-1.62 0-2.94.93-2.94 2.55v45a2.91 2.91 0 0 0 2.94 2.9H39Z" />
                        <path class="cls-1" d="M10.47 32.5v29.43H39v-9.88s-9.3 5.19-15.5-3.08c-1.85-2.47-.81-7.23-4.64-11.58-2.77-3.12-8.39-4.89-8.39-4.89ZM60.14 38.36h-13v-13h13ZM49.49 36h8.29v-8.29h-8.29ZM63.69 27.71h24.84v2.37H63.69zM63.69 32.44h21.3v2.37h-21.3zM60.14 58.47h-13v-13h13ZM49.49 56.1h8.29v-8.28h-8.29ZM63.69 50.19h18.93v2.37H63.69zM63.69 54.92h22.48v2.37H63.69zM60.14 78.58h-13v-13h13Zm-10.65-2.36h8.29v-8.29h-8.29ZM63.69 67.93H83.8v2.37H63.69zM63.69 45.46h23.66v2.37H63.69zM63.69 72.67H76.7v2.37H63.69z" />
                        <path class="cls-1" d="M78.08 10.54V8H57.43v2.49H37.71l-.05 78.58a2.52 2.52 0 0 0 2.52 2.52h55.31A2.51 2.51 0 0 0 98 89.08V10.5Zm-4.38 1.6a1.12 1.12 0 1 1-1.12 1.12 1.12 1.12 0 0 1 1.12-1.12Zm-12 0a1.12 1.12 0 1 1-1.12 1.12 1.12 1.12 0 0 1 1.1-1.12ZM90 86.08H45.69a2.52 2.52 0 0 1-2.51-2.51V16l14.25.08v2.21h20.65V16.1l14.4-.1v67.57A2.51 2.51 0 0 1 90 86.08Z" />
                    </svg>

                <p>Estoque</p>
            </li>
            <li class="item_modulo" data-id="10">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <defs />
                        <path class="cls-1" d="M64.52 10.83a9.14 9.14 0 0 0-4.1 1 9.3 9.3 0 1 0 4.46-1Zm0 15.9a6.57 6.57 0 0 1-.39-13.12h.38a6.57 6.57 0 1 1 0 13.13Z" />
                        <path class="cls-1" d="M64.28 15.72a4.64 4.64 0 0 0-1.71.46 4.44 4.44 0 1 0 1.71-.46ZM48.76 27.13c.2.46.43.9.67 1.34l-5 3.38A23.35 23.35 0 0 0 43 29.08l5.77-1.95m3.48-6.46-17.92 6.07a17.16 17.16 0 0 1 6.76 13.36l15.6-10.49a13 13 0 0 1-4.45-8.94ZM75.93 24.63a12.62 12.62 0 0 1-7.19 6.8c1.72 3.73 9.24 20 9.27 20.09.72 1.79 2.9 2.74 4.55 3.06a4.11 4.11 0 0 0 .89.1h.26a5 5 0 0 0 .93-.1 4.9 4.9 0 0 0 .62-.16h.17a1.22 1.22 0 0 0 .82-.63 1.27 1.27 0 0 0 0-1.06l-8.61-19.32 19.3 8.64A1.23 1.23 0 0 0 98 42a1.27 1.27 0 0 0 .62-.9.79.79 0 0 0 0-.09c0-.16.11-.37.16-.63a5.14 5.14 0 0 0 0-2.08 6.55 6.55 0 0 0-3.07-4.55ZM24.28 26.29h-.81a14.06 14.06 0 0 0-5.31 1.42 13.72 13.72 0 1 0 6.12-1.44Zm0 24.38a10.6 10.6 0 0 1-4.72-20.1 10.51 10.51 0 0 1 4.06-1.09h.61a10.61 10.61 0 1 1 .05 21.21Z" />
                        <path class="cls-1" d="M23.84 32.55A7.52 7.52 0 1 0 31 36.74a7.54 7.54 0 0 0-7.16-4.19ZM28.55 63.55l7.72 23h-24l7.78-22.91a26.29 26.29 0 0 0 4.19.35 22.77 22.77 0 0 0 4.3-.39m3.63-8c-1.81 1.73-4.92 2.41-7.93 2.41-3.54 0-6.93-.94-7.87-2.19L3.91 92.5h40.71l-12.44-37Z" />
                    </svg>

                <p>Produção</p>
            </li>
            <li class="item_modulo" data-id="11">
                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                    <path class="cls-1" d="M58.7 39.19a6.48 6.48 0 0 1-2.4-.43 5.48 5.48 0 0 1-1.92-1.22 5.69 5.69 0 0 1-1.26-1.89 6.25 6.25 0 0 1-.45-2.42 6.46 6.46 0 0 1 .42-2.33 5.88 5.88 0 0 1 1.17-1.9 5.47 5.47 0 0 1 1.8-1.3 5.64 5.64 0 0 1 2.31-.47 5.55 5.55 0 0 1 2.5.52 5.1 5.1 0 0 1 1.76 1.38 5.89 5.89 0 0 1 1 2 8.34 8.34 0 0 1 .37 2.31v.87h-8A2.76 2.76 0 0 0 57 36a2.93 2.93 0 0 0 1.84.57 3.73 3.73 0 0 0 1.46-.28 5.05 5.05 0 0 0 1.34-.91L63.41 37a5.75 5.75 0 0 1-2 1.58 6.13 6.13 0 0 1-2.71.61Zm2.11-6.93a3.2 3.2 0 0 0-.81-1.78 2.16 2.16 0 0 0-1.66-.67 2.18 2.18 0 0 0-1.66.66 3.32 3.32 0 0 0-.83 1.79Z"/>
                    <path class="cls-1" d="M41.12 70.13a7.7 7.7 0 0 1-4.51-1.31c-7-4.9-3.4-21.78 8.22-38.41C56.46 13.76 71.07 4.57 78.08 9.47s3.4 21.77-8.23 38.41C60.34 61.5 48.83 70.13 41.12 70.13Zm6.46-37.81c-11.09 15.87-13.67 30.53-9 33.76S56 61.84 67.11 46s13.67-30.53 9-33.76-17.5 4.24-28.58 20.11Z"/>
                    <path class="cls-1" d="M47.33 73.24a7.7 7.7 0 0 1-4.51-1.31c-6-4.17-4.47-16.71 3.69-31.22l2.92 1.64c-6.94 12.32-9 23.86-4.69 26.83 4.62 3.23 17.49-4.24 28.58-20.11S87 18.54 82.37 15.32c-3.31-2.32-10.6.86-18.13 7.9L62 20.78c9.11-8.54 17.46-11.6 22.33-8.21 7 4.9 3.4 21.78-8.23 38.42C66.55 64.61 55 73.24 47.33 73.24Z"/>
                    <path class="cls-1" d="M59.24 92a2.88 2.88 0 0 1-1.73-.58l-6.76-5a3 3 0 0 1-.49-.46 2.89 2.89 0 0 1 .29-4.07l5.23-4.78-1.67-2.4 4.52-2.58 1.63 2.14a4.71 4.71 0 0 1-.51 6.35l-3.52 3.22 2.65 2 5.52-6.41-.1-3.08A4.68 4.68 0 0 1 65.53 73l3-3.28a4.75 4.75 0 0 1 1.62-1.15l6.66-2.85 4.3-1.49 5-17.83a4.92 4.92 0 0 1 1-1.8l7.56-8.73-.49-3.17a4.74 4.74 0 0 1-2.77-1l-2.1-1.81 1.29-5.46L92.72 26c.69.52 1.54 1.13 2 1.41h1.54a2.91 2.91 0 0 1 2.85 2.46l1 6.26a2.86 2.86 0 0 1-.72 2.37L91.16 48l-5.29 18.9a2.9 2.9 0 0 1-1.85 2l-5.7 2-5.95 2.56-2.75 3 .11 3.77a2.81 2.81 0 0 1-.7 2L61.44 91a2.91 2.91 0 0 1-2.2 1Zm10.21-15.46Zm.16-.44Zm2.64-2.7Zm.21-.15ZM32.78 48.06l-2-3.09c-.28-.43-.45-.71-.57-.9l-8.12 2.4a2.91 2.91 0 0 1-3.59-1.87l-.16.07a2.89 2.89 0 0 1-3.46-.75l-4.4-5.18a2.89 2.89 0 0 1 .52-4.05l4.31-3.6 7.28.07-6.48 6.05 1.68 2a4.7 4.7 0 0 1 4.87 1.6l6.55-1.94a3.37 3.37 0 0 1 .48-.12c3.27-.63 4.5 1.24 5 2.92l.15.52ZM9.66 16.56l5.14-5.92h3.46v16h-4v-10l-4.32 5h-.6l-4.34-5v10H1v-16h3.52ZM20.77 10.64h7.05a9.06 9.06 0 0 1 6.46 2.23 7.6 7.6 0 0 1 2.37 5.79 7.37 7.37 0 0 1-2.41 5.84q-2.4 2.12-6.87 2.12h-6.6Zm4 2.93v10.12h2.6a5.14 5.14 0 0 0 3.87-1.39 5.08 5.08 0 0 0 1.33-3.67 5 5 0 0 0-1.35-3.71 5.3 5.3 0 0 0-3.9-1.35ZM49.58 10.64v2.93h-7v3.56h7v2.93h-7v6.56h-4v-16Z"/>
                </svg>
                <p>CT-e/ MDF-e</p>
            </li>
            <li class="item_modulo" data-id="12">
                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                        <defs />
                        <path class="cls-1" d="M44.26 36.92h29.01v2.07H44.26zM44.26 41.8h24.87v2.07H44.26z" />
                        <path class="cls-2" d="M73 51v2H44v-2ZM73 47v2H44v-2ZM44 57v-2h19v2ZM44 80v-2h13v2ZM73 64v2H44v-2ZM73 60v2H44v-2ZM73 68v2H44v-2ZM44 76v-2h19v2Z" />
                        <path class="cls-1" d="M48 18h20v-1.67l15-.08v67.24A2.51 2.51 0 0 1 80.49 86h-44A2.51 2.51 0 0 1 34 83.49V39h-5v50.5a2.51 2.51 0 0 0 2.53 2.5h55A2.51 2.51 0 0 0 89 89.49V11H68V8H48v10Zm16.5-5.62a1.12 1.12 0 1 1-1.11 1.11 1.12 1.12 0 0 1 1.11-1.11Zm-12 0a1.12 1.12 0 1 1-1.12 1.11 1.12 1.12 0 0 1 1.11-1.11ZM15.35 45c-.87.89-2.49.68-3.62-.47-1.13-1.14-1.33-2.8-.46-3.69l12.66-12.91c.88-.89 2.5-.68 3.62.46 1.13 1.15 1.34 2.81.46 3.7Z" />
                        <path class="cls-1" d="M33.09 9.07a12.56 12.56 0 1 0 12.56 12.56A12.55 12.55 0 0 0 33.09 9.07Zm0 20.11a7.56 7.56 0 1 1 7.56-7.55 7.55 7.55 0 0 1-7.56 7.55Z" />
                        <path class="cls-1" d="M33.09 14.74v1.83a4.56 4.56 0 0 1 4.56 4.56h1.82a6.39 6.39 0 0 0-6.38-6.39Z" />
                    </svg>

                <p>MD-e</p>
            </li>
        </ul>
            <hr>
    </div>
    <div class="conteudo_modulo" data-id="1">
        <div class="titulo">
            <img src="~/img/ic_1-63.svg" alt="">
            <h1>O ERP MATOS</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>O <b>O ERP Matos - Sistema de Gestão Empresarial</b> é um software de gestão empresarial que integra e organiza os dados e recursos da empresa, tais como a de clientes, vendas, finanças, estoque, produção, e assim por diante. O sistema é segmentado por módulos que são adquiridos e personalizados conforme a necessidade do negócio, propiciando aos gestores o acesso ágil às informações gerenciais e suporte à tomada de decisões em todos os níveis da empresa.</p>
            <p> A interface é simples e padronizada, com permissões de acesso a cada área por grupos/ usuários definidos por senhas e histórico de todas as ações executadas no software. Ele possui cadastro completo de cliente, fornecedor, produto, transportadora, representante, contador, veículo, motorista, centro de custos, técnico, texto auxiliar, formas de pagamento, setor, entre outros.  </p>
            <span class="vantagens">
                <h3>Segmentos atendidos</h3>
                <p>🠚 Indústrias: embalagens, químicas, agrícolas, brinquedos, esquadrias de metal e madeira, componentes automotivos e caminhões (reboques, cabines, carrocerias);</p>
                <p>🠚 Comércio e varejo;</p>
                <p>🠚 Lojas de materiais elétricos;</p>
                <p>🠚 Madeireiras;</p>
                <p>🠚 Motéis;</p>
                <p>🠚 Prestadores de Serviços;</p>
                <p>🠚 Restaurantes e Lancherias;</p>
            </span>
            <span class="vantagens">
                <h3>Vantagens</h3>
                <p>🠚 Padronização e aceleração de processos;</p>
                <p>🠚 Redução de custos;</p>
                <p>🠚 Integração com TEF;</p>
                <p>🠚 Redução da carga de trabalho, pois atividades repetitivas são automatizadas;</p>
                <p>🠚 Melhor controle das operações da empresa;</p>
                <p>🠚 Customização de processos e relatórios;</p>
                <p>🠚 <b>Suporte Online;</b></p>
            </span>

        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="2">
        <div class="titulo">
            <img src="~/img/ic_1-52.svg" fill="red" alt="">
            <h1>NF-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Emissão e armazenamento do documento digital, com o intuito de documentar, para fins fiscais, operações de circulação de mercadorias. É um processo ágil e prático, pois o ERP conta com uma integração completa de clientes, produtos e pedidos. Sua validade jurídica é garantida pela assinatura digital do remetente (garantia de autoria e de integridade) e pela recepção, pelo Fisco, do documento eletrônico, antes da ocorrência do fato gerador.</p>
            <p>🠚 Importação de um pedido para a nota,  evitando o retrabalho de digitar os dados relacionados;</p>
            <p>🠚 Cancelamento, carta de correção e inutilização da nota no próprio sistema, garantindo segurança para o contribuinte;</p>
            <p>🠚 Integração com o financeiro: geração de duplicatas a receber e boletos com envio automatizado por email, controle de caixa empresarial com separação por centros de custo e fluxos distintos;</p>
            <p>🠚 Envio automatizado da DANFE/XML para o cliente, envio rápido e prático de todas as notas transmitidas no mês para o contador;</p>
            <p>🠚 Diversos relatórios de faturamento: relatório de notas, de comissão, de produtos vendidos, faturamento por representante, entradas e saídas;</p>
            <p>🠚 Emissão de diversas operações da nota fiscal, tais como: notas de entrada, saída, devolução, complementar, ajuste, remessa, importação, entre outros tipos.</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="3">
        <div class="titulo">
            <img src="~/img/ic_1-56.svg" alt="">
            <h1>NFS-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Emissão e armazenamento do documento digital de operações de serviços. O ERP Matos faz uma ponte com o ambiente da prefeitura, tornando o processo ágil e prático. Os benefícios são a padronização das obrigações tributárias, redução de custos de impressão e de erros da escrituração.</p>
            <p>🠚  Importação de um pedido para a nota de serviço, evitando o retrabalho de digitar os dados relacionados;</p>
            <p>🠚 Integração com o financeiro: geração de duplicatas a receber e boletos com envio automatizado por email, controle de caixa empresarial com separação por centros de custo e fluxos distintos;</p>
            <p>🠚 Cidades homologadas: São Leopoldo, Novo Hamburgo, Porto Alegre, Estância Velha, Sapucaia do Sul, Esteio, Nova Santa Rita e São Paulo. Também é possível a integração de novos municípios conforme necessidade do cliente.</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="4">
        <div class="titulo">
            <img src="~/img/ic_1-55.svg" alt="">
            <h1>NFC-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>A Nota Fiscal de Consumidor Eletrônica foi criada com o objetivo de substituir os cupons fiscais emitidos pelo ECF. A substituição traz muito mais praticidade e agilidade para os lojistas, além de diminuir seus gastos, pois a NFC-e é emitida automaticamente logo após o consumidor efetuar a compra.</p>
            <p>Ao optar por substituir os cupons fiscais pela NFC-e, o lojista não precisará mais de equipamentos e impressoras fiscais, além de cortar custos com lacrações, registros e homologações. Caso seja necessário fazer a impressão, a mesma poderá ser feita em uma impressora comum.</p>
            <p>🠚 O Sistema possui diversos filtros e relatórios por período, comissão variada, vendas por cliente, operação fiscal, grupo de produtos, produtos mais vendidos, etc. (Todos os relatórios podem ser exportados para excel, word e PDF.)</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="5">
        <div class="titulo">
            <img src="~/img/ic_1-57.svg" alt="">
            <h1>Orçamento e pedido</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Gestão de pedidos, ordens de serviço, orçamentos e locações. Ele é integrado com o módulo de NF-e e NFS-e e possibilita a geração automática dos documentos fiscais após a aprovação do pedido, além de gerar as duplicatas relacionadas para o financeiro.</p>
            <p>🠚 Cancelamento, carta de correção e inutilização da nota no próprio sistema;</p>
            <p>🠚 Geração de recibo de consignação e carnês;</p>
            <p>🠚 Contrato de locação, de venda e de consignação;</p>
            <p>🠚 Fidelização de clientes: criação de promoções e bonificações, por exemplo: se o cliente efetuar uma compra de R$100,00 ele terá direito a um brinde, e quando esse limite for atingido o sistema avisará ao vendedor e o sistema automaticamente adiciona o brinde na listagem do pedido;</p>
            <p>🠚 Envio e acompanhamento das propostas por e-mail;</p>
            <p>🠚 Relatórios: Pedidos por cliente, por representante com comissão, vendas por representante, por tipo de pagamento, de produção. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="6">
        <div class="titulo">
            <img src="~/img/ic_1-59.svg" alt="">
            <h1>Ordem de serviço</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Destinado à empresas de assistência serviços em geral, como oficinas mecânicas e empresas de construção, que precisem abrir uma ordem de serviço para um cliente e controlar consumo de produtos, mão de obra e custos diversos, além de ser integrado com o pedido, a NF-e, a NFS-e e o NFC-e.</p>
            <p>🠚 Possui relatórios dos orçamentos ou O.S. em aberto, serviços executados por técnicos, clientes, atendentes, etc. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="7">
        <div class="titulo">
            <img src="~/img/ic_1-64.svg" alt="">
            <h1>Ordem de compra</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Documento comercial emitido por um comprador para o fornecedor, a fim de indicar e controlar o acordo para o processo de compra de produtos ou serviços. Ele representa todas as condições em que foi feita a negociação, como por exemplo: produtos, quantidade, prazos, preços, data de entrega e outros. Muitos fornecedores exigem esse tipo de documento a fim de garantir a segurança da compra. É interligado com o estoque, reduzindo as ocorrências de falta de insumos, sendo possível realizar entradas de mercadoria em uma única tela.</p>
            <p>🠚 Relatórios do que foi entregue, pendências, controle de pedidos de compra não atendidos, pedidos por fornecedor/produto. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
            <p>🠚 Importação de NF-e de entrada com vínculo ou sem vínculo com ordem de compra, cálculo de custo do produto, vínculo dos produtos ao código do fornecedor;</p>
            <p>🠚 Integração com o financeiro: geração de duplicatas a pagar;</p>
            <p>🠚 Envio por e-mail, possibilidade de recebimento pelo XML da nota de entrada do fornecedor ou buscando as notas recebidas no sefaz;</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="8">
        <div class="titulo">
            <img src="~/img/ic_1-61.svg" alt="">
            <h1>Financeiro</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Permite completa visibilidade das suas contas a pagar, a receber e do fluxo de caixa. Tudo em tempo real e com relatórios, possibilitando decisões mais rápidas e mais inteligentes, gerando uma visão gerencial a partir do registro de agendamento de obrigações futuras como previsões de valores de entrada e saída para sua empresa. </p>
            <p>🠚 Geração de Boleto para cobrança registrada e carnês;</p>
            <p>🠚 Baixa automática com os Retornos de Boletos, Pagamentos e Cobrança via troca de arquivos CNAB;</p>
            <p>🠚 Controle de contas bancárias, fluxo de caixa;</p>
            <p>🠚 Emissão de recibos e notas promissórias;</p>
            <p>🠚 Permite lançamento de Nota Fiscal de mercadoria com atualização automática do Estoque e Contas a Pagar, Impressão de recibos para pagamento personalizado com logo da empresa;</p>
            <p>🠚 Relatórios a pagar/ receber: abertas e recebidas (por data de vencimento, por cliente), resumo anual de pagamentos, lançamentos de caixa por fluxo, entre outros. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="9">
        <div class="titulo">
            <img src="~/img/ic_1-58.svg" alt="">
            <h1>Estoque</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Controle de estoque completo para sua empresa. Você pode gerenciar produtos, vendas, compras, movimentações, inventários, possibilitando o monitoramento de produtos de maneira simples e segura. Esse controle pode ser feito através da importação das compras via XML da NF-e do fornecedor, o ajuste do estoque tanto de entrada como de saída fica gravado toda movimentação, o próprio sistema faz busca do XML emitido contra o CNPJ da empresa pode dar ciência da compra. O sistema de controle de estoque trabalha de maneira totalmente integrada com as áreas de vendas, financeiro e fiscal.</p>
            <p>🠚 Geração de ordens de compra e notas de entrada;</p>
            <p>🠚 Aviso de quando chega no estoque mínimo estipulado;</p>
            <p>🠚 SPED Fiscal: Bloco K e H;</p>
            <p>🠚 Reajuste automático e/ou manual de preços por grupo ou individual de produto;</p>
            <p>🠚 Relatórios: Movimento por motivo, por produto e por fornecedor. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="10">
        <div class="titulo">
            <img src="~/img/ic_1-62.svg" alt="">
            <h1>Produção</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>Registro e controle das ordens de produção efetuadas pela empresa. O módulo conta com gerenciamento e versionamento das fórmulas(receitas) de produto acabado, além disso ele é interligado ao módulo de pedido e ao módulo de estoque do sistema, fazendo os consumos e acréscimos de produto conforme as produções vão sendo efetuadas.</p>
            <p>🠚 Importação de pedidos para a ordem de produção baseado nos itens do pedido, verifica a necessidade de produção do produto acabado ou se existe algum lote disponível para a utilização.</p>
            <p>🠚 É possível fazer a baixa total ou parcial de uma ordem de produção, e quando finalizado, o sistema baixa automaticamente a matéria prima e alimenta automaticamente o estoque com o produto acabado;</p>
            <p>🠚 Relatórios: produções efetuadas, podendo ser customizado conforme a necessidade do cliente. (Todos os relatórios podem ser exportados para excel, word e PDF.);</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="11">
        <div class="titulo">
                <img src="~/img/ic_1-53.svg" alt="">
            <h1>CT-e / MDF-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>O manifesto de carga eletrônico tem como objetivo viabilizar a fiscalização, pois nele há um resumo da operação de transporte, informando os documentos vinculados, o local de origem, destino, dados do veículo e do motorista. No manifesto de transporte não há incidência de impostos, pois estas informações já devem estar presentes no documento vinculado ao MDF-e, que é o CT-e (Conhecimento de Transporte Eletrônico) ou a NF-e (Nota Fiscal Eletrônica).</p>
            <p>🠚 CT-e:Voltado para transportadoras, permite que seja emitido um documento digital e armazenado eletronicamente, com a finalidade de documentar prestações de serviços de transportes. Transportadoras em qualquer tipo modal: aéreo, rodoviário, aquaviário, ferroviário e dutoviário.</p>
            <p>🠚  MDF-e:Permite que seja emitido um documento digital e armazenado eletronicamente, com a finalidade de documentar prestações de serviços de transportes, sejam elas feitas por transportadoras com o vínculo de CT-e para transporte de carga para terceiros, ou para empresas que transportam mercadorias próprias, vinculando assim a NF-e.</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
    <div class="conteudo_modulo hidden" data-id="12">
        <div class="titulo">
            <img src="~/img/ic_1-60.svg" alt="">
            <h1>MD-e</h1>
        </div>
        <img class="imagem_pequena_modulo" src="~/img/banner_sobre.png">
        <div class="texto_conteudo_sobre">
            <p>A manifestação do destinatário (MD-e) é uma funcionalidade onde o usuário informa a secretaria da fazenda sobre a sua participação comercial referente a uma nota fiscal emitida contra o seu CNPJ. Ela é composta por 4 eventos, ciência da emissão, confirmação da operação, desconhecimento da operação e operação não realizada.</p>
            <p>Com base nisso, o módulo de MD-e possibilita a verificação de todas as notas emitidas no seu CNPJ e a manifestação das mesmas para fins fiscais.Além disso, permite a importação automática de notas de entrada, alimentando assim o módulo financeiro com a criação de contas a pagar e o módulo de estoque, adicionando saldo ao estoque empresarial dos produtos adquiridos.</p>
        </div>
        <img class="imagem_modulo" src="~/img/img_sobre.png" alt="">
    </div>
</main>
<input type="hidden" value="@ViewBag.id" id="hiddenSolucao" />