@{
    ViewData["Title"] = "Suporte";
}
@section Styles {
    <link href="@Url.Content("~/css/suporte.css")" rel="stylesheet" type="text/css" />
}
<main class="suporte_estrutura">
    <h1>SUPORTE</h1>
    <p>Clique abaixo no seu representante para fazer o download do suporte.</p>
    <ul class="representantes_suporte">
        <li>
            <img class="logo_rep" src="~/img/logo_rm.png">
            <p>(51)3566-2115 / (51)98906-4662 (Whatsapp)</p>
            <p>São Leopoldo - RS</p>
            <a href="https://anydesk.com/pt/downloads/windows">DOWNLOAD DO SUPORTE DA RM</a>
        </li>
        <li>
            <img class="logo_rep" src="~/img/logo_rj.png">
            <p>(51)3239-0874 / (51)99173-9829 (Whatsapp)</p>
            <p>Novo Hamburgo - RS</p>
            <a href="https://anydesk.com/pt/downloads/windows">DOWNLOAD DO SUPORTE DA RJ</a>
        </li>
        <li>
            <img class="logo_rep" src="~/img/logo_unimatos.png">
            <p>(51)3587-4330</p>
            <p>Novo Hamburgo - RS</p>
            <a href="https://anydesk.com/pt/downloads/windows">DOWNLOAD DO SUPORTE DA UNIMATOS</a>
        </li>
    </ul>
</main>