@{
    ViewData["Title"] = "Suporte";
}
<main class="suporte_estrutura">
    <h1>SUPORTE</h1>
    <p>Clique abaixo no seu representante para fazer o download do suporte.</p>
    <ul class="representantes_suporte">
        <li>
            <img class="logo_rep" src="~/img/logo_rm.png">
            <a href="http://www.rmsolucoessistemas.com.br/">DOWNLOAD DO SUPORTE DA RM</a>
        </li>
        <li>
            <img class="logo_rep" src="~/img/logo_rj.png">
            <a href="https://www.rjsistemas.net/">DOWNLOAD DO SUPORTE DA RJ</a>
        </li>
        <li>
            <img class="logo_rep" src="~/img/logo_unimatos.png">
            <a href="http://www.rmsolucoessistemas.com.br/">DOWNLOAD DO SUPORTE DA UNIMATOS</a>
        </li>
    </ul>
</main>