.fundo_sobre{
    background-image: none;
}

.contato_estrutura{
    grid-area: content;
    margin: 100px 30px 80px 30px;
    padding: 30px 30px 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.contato_estrutura h1{
    grid-column: 1 / 5;
    color: #002387 ;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    border-left: 6px solid #002387 ;
    border-right: 6px solid #002387 ;
    padding: 0px 30px;
}

.contato_estrutura p{
    grid-column: 1 / 4;
    line-height: 1.5em;
    margin: 30px 0 30px 0; 
    text-align: center;
    max-width: 700px;
}

.contato_estrutura a {
    color: #002387;
}

.contato_estrutura a:hover{
    color: #4E75E1; 
}

.contato_estrutura form{
    grid-column: 1 /4;
    display: flex;
    flex-direction: column;
    color: #5E5E5E;
    min-width: 400px;
}

.contato_estrutura input{ 
    height: 35px;
    font-size: 1rem;
    margin-bottom: 20px;
    outline-color: #4E75E1;
}

.contato_estrutura textarea{
    outline-color: #4E75E1;
}


.contato_mensagem {
    resize: none;
    height: 120px;
    font-size: 1.2rem;
    
}

.enviar_mensagem {
    color: white;
    margin-top: 20px;
    background-color: #4E75E1;
    border: 3px solid #4E75E1;
    cursor: pointer;
    min-width: 150px;
    min-height: 50px;
    border-radius: 10px 0 10px 10px;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    font-size: 1.1em;
    text-align: center;
    transition: 0.3s;
}

    .enviar_mensagem:hover {
        background-color: transparent;
        color: #002387;
        border: 3px solid #002387;
    }

@media (max-width: 436px){
    .contato_estrutura form{
        min-width: 250px;
    }
}
