.fundo_sobre {
    background-image: none;
}

.login_estrutura {
    grid-area: content;
    margin: 2% 30px 11.2% 30px;
    padding: 120px 30px 0px 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.login_estrutura h1 {
    grid-column: 1 / 5;
    color: #002387;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    border-left: 6px solid #002387;
    border-right: 6px solid #002387;
    padding: 0px 30px;
}


.login_estrutura form {
    grid-column: 2;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    color: #5E5E5E;
}

.login_estrutura input {
    height: 30px;
    font-size: 1rem;
    margin: 5px 0 20px 0;
    outline-color: #4E75E1;
}


.gv {
    color: black;
    text-align: left;
    border-width: 0px;
    margin-top:40px;
    border-collapse: collapse;
}
.gv td{
    padding-right:10px;
}

.gv thead {
    border-bottom: 1px solid black;
}

.dvDownloads {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    color: #5E5E5E;
}

/*.hidden {
    visibility: hidden !important;
    display: none !important;
}*/

.botao_Download {
    border-width: 0;
    height: 25px;
    width: 25px;
    margin-left: 25px;
}

.botao_Download:hover {
    border-bottom: 1px solid #0f2748;
}

.botao_entrar {
    background-color: #4E75E1;
    border-radius: 10px 0 10px 10px;
    border-color: transparent;
    margin-top: 30px;
    height: 40px !important;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: 600;
    letter-spacing: 1.2px;
    font-size: 1.1em;
    text-align: center;
   /* display: grid;
    align-items: center;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;*/
}

    .botao_entrar:hover {
        background-color: #002387;
    }

@media (max-width: 436px) {
    .login_estrutura form {
        min-width: 250px;
    }
}
