.fundo_sobre{
    background-image: none;
}

.representantes_estrutura{
    grid-area: content;
    background-color: HSL (24, 9%, 82%);
}

.conteudo_principal_rep {
    padding: 50px 70px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.titulo_sobre {
    color: #4E75E1;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    border-left: 6px solid #4E75E1;
    border-right: 6px solid #4E75E1;
    padding: 0 30px;
}

.texto_conteudo{
    padding: 40px;
    line-height: 1.5em;
    text-align: center;
}

.representantes{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
}

.representantes li{
    margin: 50px 10px 10px 10px;
    padding: 30px;
    min-width: 330px;
    background: #f9f9f9;
    box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.2);
    border-radius: 15px 0px 15px 15px;
    text-align: center;
}

.representantes img{
    max-width: 200px;
    margin: 0 auto 20px auto;
}

.representantes a{
    line-height: 4rem;
    color: #0f2748;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px;
    border-bottom: solid 1px #0f2748;
    color: #0f2748;

}

.representantes a:hover {
    color: #4E75E1;
    border-bottom: solid 1px #0943E3;
}

.representantes p{
    line-height: 1.4rem;
}

.represente {
    background: linear-gradient(266deg, rgba(0,35,135,1) 30%, rgba(14,14,94,1) 100%);
    padding: 70px 0 60px 0;
    display: grid;
    justify-content: center;
    text-align: center;
}

.represente h1 {
    justify-self: center;
    font-size: 4rem;
    font-weight: 800;
    margin: 15px 0 35px 0;
    padding: 0 30px 0;
    color: white;
    text-transform: inherit;
    max-width: 800px;
}

.represente a {
    padding: 10px;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 10px 0 10px 10px;
    border: 3px solid white;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.3s;
    background-color: white;
    color: #0943E3;
}

.represente a:hover {
    background-color: transparent;
    border: 3px solid white;
    color: white;
}

.represente p {
    line-height: 1.5em;
    color: white;
    max-width: 800px;
}

.linha_parceiro {
    margin: 50px;
    border-top: 1px solid white;
}

.destaque_rep{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin: 40px 0 2px 0;
}


.texto_parceiro{
    margin-bottom: 70px;
}

@media (max-width: 962px){
    .represente {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .titulo_botao{
        text-align: center;
    }
    
    .represente a{
        text-align: center;
        padding: 10px 30px 10px 30px;
    }
    .represente p{
        border-left: 0;
        padding: 20px;
        margin: 20px 0 0 0;
        text-align: center;
    }
}

