/*Inicio pagina solucoes*/
.fundo_sobre{
    background-image: none;
}

.solucoes_estrutura{
    grid-area: content;
    max-width: 1280px;
    background: HSL (24 9% 82%);
    margin: 50px auto 100px auto;
    padding: 0 30px 0 30px;
}

/*Menu Modulos*/
.menu_horizontal {
    
    
}

.menu_horizontal h2 {
    justify-self: stretch;
    text-align: center;
    font-size: 1.4rem;
    color: #383838;
    font-weight: 700;
    text-transform: inherit;
    margin: 0;
    padding: 20px 20px 0 20px;
}
hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
}

.menu_horizontal ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    border: none;
}

.menu_horizontal ul li{
    flex: 1 0 0;
    text-align: center;
    padding: 5px;
    margin: 1px;
}

.item_modulo:hover{
   fill: #4E75E1;
   cursor: pointer;
   color: #4E75E1;
   border-radius: 15px 0px 15px 15px;
   border: 3px solid #4E75E1;
}

li:hover p {
    color: inherit;
}


.menu_horizontal p{
    font-size: 1rem;
    font-family: Raleway;
    font-weight: 600;
    color: #0f2748;
    transition: 0.2s;
    line-height: 1.2rem;
    margin-top: 5px;
}

.submenu_ativo {
    fill: #4E75E1;
}

.submenu_ativo p {
    color: #4E75E1;
    font-weight: 600;
}


/*Conteudo Modulo*/
.conteudo_modulo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr;
    margin: 50px 0 40px 0;
}


.titulo {
    grid-column: 1 / 4;
    grid-row: 1;
    display: flex;
    padding: 10px 10px 10px 20px;
    align-items: center;
    z-index: 0;
}

.titulo img{
    max-width: 100px;
}

svg {
    max-width: 55px;
}


svg:hover{
    fill:#4E75E1;
}


.titulo h1 {
    color: #383838;
    font-size: 4rem;
    margin-left: 20px;
    text-transform: inherit;
    font-weight: 700;
}

.texto_conteudo_sobre{
    grid-column: 1 / 4;
    padding: 30px 50px 30px 0;
    line-height: 1.8em;
    font-size: 1.1rem;
    text-indent: 50px;
    text-align:justify;
}

    .texto_conteudo_sobre h3 {
        color: #4E75E1;
        margin: 40px 0px 10px 0;
        text-indent: 20px;
        text-transform: inherit;
        font-weight: 700;
    }

.vantagens{
    text-indent: 0;
}

.imagem_modulo{
    grid-column: 4;
    grid-row: 1;
    max-width: 270px;
}

.imagem_pequena_modulo{
    visibility: hidden;
    display: none;
}

.hidden{
    visibility: hidden !important;
    display: none !important;
}



@media (max-width: 865px) {
    .menu_horizontal{
        visibility:hidden;
        display: none;
    }
    .conteudo_modulo {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }
    .titulo {
        align-self: center;
    }
    
    .titulo h1{
        font-size: 2.2rem;
    }
    .texto_conteudo_sobre{
        padding: 20px 0 0 0;
    }
    .imagem_modulo{
        visibility: hidden;
        display: none;
    }
    .imagem_pequena_modulo{
        visibility: visible;
        display: block;
    }

}