body, p, h1, ul, li, blockquote {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Rubik", sans-serif;
}

h1, h2, h3{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: HSL(200,31%, 14%);
}

li {
    list-style: none;
}

p{
    color: #5E5E5E;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.palavra {
    color: #18b7e2; /*azul claro*/
}

/*Grid Geral*/
.estrutura {
    display: grid;
    background-color: #E4EDEF;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header header"
        "banner banner banner"
        "content content content"
        "footer footer footer";
}


@media (max-width: 970px){
    .estrutura{
        grid-template-areas: 
        "header header"
        "banner banner"
        "content content"
        "footer footer"
        ;
    }
}

@media (max-width: 385px){
    .estrutura{
        grid-template-columns: 1fr;   
        background-color: HSL(200,25%, 94%); 
        grid-template-areas: 
        "header"
        "banner"
        "content"
        "footer"
        ;
    }
}

/*Header*/
.header {
    grid-area: header;
    background: #E4EDEF;
    /*box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);*/
    padding: 0 25px 0 25px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    /*    position: fixed;*/
    width: 100%;
    /*    z-index: 1000;*/
}


.logo{
    max-width: 130px;
    min-width: 100px;
    margin-right: 10px;
}

.dropdown-menu{
    background-color: #f8f8f8;
}

.dropdown-menu a:hover{
    background-color: transparent;
}

.navbar-collapse{
    width: auto;
}

.navbar-toggler:hover{
    color: #18b7e2;
}

.navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='2' stroke-linecap='square' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.header nav ul:not(.nav-item-drop){
    display: flex;
    flex: wrap; 
}

.header nav a {
    display: block;
    padding: 5px;
    margin: 10px 20px 5px 10px;
    color: #212F56;
    font-size: 1em;
    transition: 0.2s;
    text-transform: uppercase;
    font-family: "Work Sans";
    font-weight: 600;
}

.header nav a:hover{
    color: #18b7e2; 
}

.header ul li a.menu_ativo {
    color: #18b7e2;
}

/*Conteudo*/
.content {
    grid-area: content;
    max-width: 1280px;
    background: #E4EDEF; /*quase branco*/
    margin: 0 auto;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#divBanner{
    background-size: 400% 400%;
    grid-area: banner;
    height: 650px;
}

.conteudo_banner {
    text-align: center;
    grid-area: banner;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background: #E4EDEF; /*cinza azulado*/
    background-size: 400% 400%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

.titulo_banner {
    grid-column: 2;
   /* margin-top: 20px;*/
    align-self: center;
    color: #212F56;
    font-size: 4rem;
    font-weight: 800;
    text-transform: inherit;
}

.subtitulo_banner {
    grid-column: 2;
    margin-top: -50px;
    font-weight: 400;
    font-size: 1.1rem;
    color: #212F56;
}

.modulos{
    grid-column: 1 / 5;
    margin-top: -230px;
    padding: 20px;
    display: grid;
}

.subtitulo_home{
    max-width: 300px;
    margin:5px auto 10px auto;
    padding: 20px;
    
}

.descricao_erp{
    text-align: center;
    font-size: 1.15em;
    line-height: 1.3em;
    margin: 0 30px 0 30px;
    color: HSL(200, 16%, 16%);
}

.solucoes_lista{
    grid-column: 1 / 5;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.caixa1, .caixa2, .caixa3{
    display: flex;
    flex-wrap: wrap;
    min-width: 260px;
    margin: 30px;
    justify-content: flex-end;
    flex: 1 1 0;
    background: #f9f9f9;
    box-shadow: 0 3px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.caixa1 img, .caixa2 img, .caixa3 img{
    max-width: 80px;
    margin-right: 10px;
}

.caixa1 a, .caixa2 a, .caixa3 a{
    text-transform: uppercase;
    letter-spacing: 1px;
}

    .caixa1 div, .caixa2 div, .caixa3 div {
     border-top: 5px solid #212F56;
    }

    .caixa1 a, .caixa2 a, .caixa3 a {
      background: #212F56; /*AZUL ESCURO*/
    }

    .caixa1 h2, .caixa2 h2, .caixa3 h2 {
      color: #212F56;
    }
   
.solucoes_lista h2{
    font-size: 1.3em;
    font-weight: 800;
    line-height: 1.2em;
    text-transform: uppercase;
}

.solucoes_lista p{
    padding: 10px 25px 10px 25px;
    min-height: 100px;
    font-size: 1em;
    text-align: center;
}

.solucoes_lista div{
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
}

.solucoes_lista a{
    color: white;
    font-weight: 400;
    font-size: 0.91em;
    width: 120px;
    text-align: center;
    align-self: flex-end;
    padding: 10px;
    transition: 0.1s;
    animation-direction: reverse;
}

.solucoes_lista a:hover{
    width:calc(100%);
}


.btn_azul {
    grid-column: 1 /5;
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 5px;
    min-width: 150px;
}

    .btn_azul span {
        position: relative;
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        font-family: sans-serif;
        transition: 0.3s;
    }

.btn-1::before {
    background-color: #212F56;
    transition: 0.3s ease-out;
}

.btn-1 span {
    color: rgb(255,255,255);
    border: 1px solid #212F56;
    transition: 0.2s 0.1s;
}

    .btn-1 span:hover {
        color: #212F56;
        transition: 0.2s 0.1s;
    }

:active, :hover, :focus {
    outline: 0 !important;
    outline-offset: 0;
}

::before,
::after {
    position: absolute;
    content: "";
}

.btn_azul.hover-filled-slide-left::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.btn_azul.hover-filled-slide-left:hover::before {
    width: 0%;
}

.solicite{
   grid-column: 1 / 5;
   display: grid;
   grid-template-rows: 20% 50% auto;
   grid-gap: 30px;
   margin: 100px 0 80px 0;
}

.solicite img{
    grid-row: 1 / 4;
    grid-column: 1 / 3;
    align-self: center;
}

.solicite h1{
    grid-row: 1;
    grid-column: 3;
    font-size: 4rem;
    line-height: 0.9em;
    font-weight: 800;
    text-transform:capitalize;
    margin-top: 20px;
    color: #0f2748;
}

.solicite p {
    grid-row: 2;
    grid-column: 3;
    font-size: 1.15rem;
    line-height: 1.5em;
    padding: 0 50px 0 0;
}

.solicite a{
    grid-row:3;
    grid-column: 3; 
    font-family: "montserrat";
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #18b7e2;
    font-size: 1.1em;
    font-weight: 600;
    height: 25px;
    border-bottom: 1px solid #18b7e2;
    margin: 0 50px 0 -390px;
    padding-left: 390px;
}

.solicite a:hover{
    grid-row:3;
    grid-column: 3; 
    font-family: "montserrat";
    text-transform: uppercase;
    color: #0f2748;
    font-size: 1.1em;
    height: 25px;
    border-bottom: 1px solid #0f2748;
    margin: 0 50px 0 -390px;
    padding-left: 390px;
}

@media (max-width: 1100px){
    .solucoes_lista h2{
        font-size: 1.3em;
        margin: 5px;
    }
    .solucoes_lista img{
        max-width: 60px;
    }
    .solucoes_lista div{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 925px){
    .header nav a {
        padding: 0px;
        margin: 10px 8px 5px 10px;
     }

    .subtitulo_banner{
        margin-bottom: 100px;
    }

    .solicite{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    } 
    
    .solicite img{
        max-width: 80%;
    }
    
    .solicite h1{
        margin: 5px 10px 5px 10px;
    }
    
    .solicite p{
        text-align: center;
        margin: 0;
        padding: 0;
     }
    .solicite a{
        text-align: center;
        margin: 0;
        padding: 30px;
    }
    .solicite a:hover {
        margin: 0;
        padding: 30px;
    }
}

@media (max-width: 725px) {
        .titulo_banner{
            font-size: 3rem;
        }

}

@media (max-width: 545px) {
    .content{
        padding: 10px;
    }
    .conteudo_banner {
        grid-template-columns: 1fr;
        padding: 30px;
    }
    .titulo_banner {
        font-size: 2.3rem;
        margin-top: 20px;
    }
    .subtitulo_banner {
        padding: 50px 0px 60px 0;
        font-size: 1.1rem;
    }
    .solicite h1{
        text-align: center;
    }
}

@media (max-width: 444px) {
    .conteudo_banner {
        grid-template-columns: 1fr;
        padding: 30px;
    }
}

    @media (max-width: 385px) {
        .titulo_banner {
            font-size: 2.3rem;
        }

        .subtitulo_banner {
            margin-bottom: 100px;
        }

        .modulos {
            margin-top: -120px;
        }

        .subtitulo_home {
            max-width: 250px;
            margin: 0 auto;
            padding: 10px 0 30px 0;
        }

        .descricao_erp {
            margin: 0;
        }

        .solucoes_lista p {
            padding: 0 10px 10px 10px;
        }

        .btn_azul {
            margin: 10px;
        }

        .solicite img {
            max-width: 100%;
        }

        .solicite h1 {
            text-align: center;
            line-height: 1.1em;
            font-size: 2.5em;
            margin: 10px 0 10px 0;
        }

        .solicite p {
            margin: -35px 0 0 0;
            line-height: 1.3em;
        }

        .solicite a {
            margin: 0;
            padding: 0;
        }

            .solicite a:hover {
                margin: 0;
                padding: 0;
            }
    }

    /*Footer*/
    .footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 180px 1fr 375px;
        grid-template-rows: 40px 50px 50px 50px;
        background: #0f2748;
        padding: 30px;
    }

    .menu_principal {
        grid-column: 1;
    }

        .menu_principal a {
            color: white;
            font-size: 1em;
            line-height: 2em;
            text-transform: uppercase;
            font-weight: 500;
        }

            .menu_principal a:hover {
                color: #18b7e2;
            }

    .sub_modulos {
        grid-column: 2;
        line-height: 2em;
        color: white;
        text-transform: uppercase;
        font-weight: 500;
    }

        .sub_modulos:hover {
            color: #18b7e2;
        }

    .menu_modulos {
        grid-column: 2;
        display: grid;
        grid-template-columns: 150px 1fr;
    }

        .menu_modulos a {
            color: white;
            grid-row: 1;
            line-height: 1.5em;
        }

            .menu_modulos a:hover {
                color: #18b7e2;
            }

    .contato_redes {
        grid-column: 3;
        grid-row: 1 / -1;
        text-align: right;
        display: grid;
        grid-template-columns: 300px 35px 1fr;
        justify-content: end;
        color: white;
    }

        .contato_redes h2 {
            grid-column: 1/4;
            color: white;
        }

        .contato_redes p {
            grid-column: 1/4;
            color: white;
        }

        .contato_redes a {
            color: #18b7e2;
            font-weight: 500;
            font-style: italic;
            line-height: 1.5em;
            justify-self: end;
        }

            .contato_redes a:hover {
                color: white;
            }

    .icones_redes {
        display: flex;
        grid-column: 1/ 4;
        justify-content: end;
    }

    .contato_redes img {
        margin-top: 20px;
        max-width: 30px;
    }

    @media (max-width: 787px) {
        .footer {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: flex-start;
        }

        .contato_redes {
            display: flex;
            flex-direction: column;
            text-align: left;
            align-itens: left;
            margin-top: 40px;
        }

            .contato_redes:before {
                display: block;
                content: "";
                max-width: 30px;
                height: 1px;
                background: white;
                margin: 0;
            }

            .contato_redes h2 {
                margin: 10px 0 5px 0;
            }

            .contato_redes img {
                max-width: 30px;
            }

        .icones_redes {
            display: flex;
            justify-content: flex-start;
        }
    }


